{% extends "base.html" %}  
{%block contents%}
<body class="body2">
      <img src="../static/public/capa.png" alt="copa" class="center" height="10%">
      <p class="p1">Sobre a universidade </p>
      <p class="p2"> Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Delectus reprehenderit architecto, non beatae vero ipsum expedita, debitis quaerat dicta ipsam 
          impedit repudiandae minus facilis dolores ab asperiores ea veniam suscipit. Lorem <strong>ipsum dolor</strong> sit amet 
          consectetur adipisicing elit. Nulla repellat delectus corrupti iusto est deleniti, quisquam nostrum. 
          Nesciunt, vero nulla? Impedit sint esse corrupti ducimus et aperiam eaque incidunt amet.</p>
      <p class="p2"> Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Delectus reprehenderit architecto, non beatae vero ipsum expedita, debitis quaerat dicta ipsam 
      impedit repudiandae minus facilis dolores ab asperiores ea veniam suscipit. 
      Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. In rem eius eligendi quod vitae ipsam accusantium 
      nulla consequatur beatae, velit fugit voluptates impedit harum corporis ducimus nobis dolorum laboriosam 
      excepturi.</p>
    <div class="clear"></div>
{% endblock %}
