{% extends "base.html" %}>
{% block contents %}
<body class="body3">
      <p class="p1">Quem somos </p>
      <p class="p2"> Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Delectus reprehenderit architecto, non beatae vero ipsum expedita, debitis quaerat dicta ipsam 
          impedit repudiandae minus facilis dolores ab asperiores ea veniam suscipit. Lorem <strong>ipsum dolor</strong> sit amet 
          consectetur adipisicing elit. Nulla repellat delectus corrupti iusto est deleniti, quisquam nostrum. 
          Nesciunt, vero nulla? Impedit sint esse corrupti ducimus et aperiam eaque incidunt amet.</p>
      <p class="p2"> Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Delectus reprehenderit architecto, non beatae vero ipsum expedita, debitis quaerat dicta ipsam 
      impedit repudiandae minus facilis dolores ab asperiores ea veniam suscipit. 
      Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. In rem eius eligendi quod vitae ipsam accusantium 
      nulla consequatur beatae, velit fugit voluptates impedit harum corporis ducimus nobis dolorum laboriosam 
      excepturi.</p>
      <p class="p1"> 5 Motivos para estudar</p>
      <p class="p2">
        1. material sempre atualizado
        <br>
        2.Tablets em sala de aula 
        <br>
        3. Professores renomados
        <br>
        4. Universidade bem avaliada
        <br>
        5. Otima localização
      </p>
    <div style="height: 5px; background-color: #d4d4d4"></div>
    <p class="p1">objetivos</p>
    <p class="p2">Lorem <strong>ipsum dolor</strong> sit, amet consectetur adipisicing elit. Distinctio impedit aliquam nemo, quisquam 
        sapiente, fuga dolorum neque veniam ullam, et repellendus odit consequuntur tempora aperiam facere dolore eaque 
        amet ea?</p>
    <div class="clear"></div>
{% endblock %}